.chartRadar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 263px;
    width: 258px;
    background-color: #282D30;
    border-radius: 5px;
    margin-left: 30px;
}