.chartLine {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: $color_red;
    width: 31%;
    aspect-ratio: 1;
    border-radius: 5px;
    position: relative;
    overflow: hidden;

    &--title {
        color: white;
        opacity: 0.5;
        font-size: 15px;
        text-align: left;
        margin-left: 30px;
    }
    &--chart {
        position: absolute;
        width: 100%;
        bottom: 5px;
        left: -70px;
        @media screen and (max-width: 1140px) {
            left: -63px;
        }
    }
    &--darkenBg {
        background-color: $color_black;
        opacity: 0.1;
        width: 30%;
        height: 100%;
    }
    &__days {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}